{% extends "likes/base.html" %}
{% block content %}
<div class="home">
    <h1>Welcome!</h1>
    <p>
        Hi, I'm Mateo. This app lets me store links, relate them using tags and search through them.
        <br>
        I was motivated to create this because many sites (Instagram, Mercadolibre, etc.) do not provide this feature.
        <br>
        If there's any interest, I might be publishing a roadmap and accepting PRs.
        <br>
    </p>
    <h3>Thanks for visiting!</h3>
</div>
{% endblock %}
